# create free account on open weather map to get API key
WEATHER_KEY="your OpenWeatherMap key"
WEATHER_LAT="Your latitude"
WEATHER_LONG="Your longitude"

QUOTE="A Yahoo Finance Quote"

GOOGLE_KEY="Your Google API Key"
YOUTUBE_CHAN_ID="Your channel id"
