// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #272b35;

$vlow-color:        #79BC6A;
$low-color:         #BBCF4C;
$medium-color:      #EEC20B;
$high-color:        #F29305;
$vhigh-color:       #960018;

// ----------------------------------------------------------------------------
// Widget-airparif styles
// ----------------------------------------------------------------------------
.widget-airparif {
        background-color: $background-color;

        .summary {
                text-align: left;
                margin-left: 20px;
        }

        .image {
                max-width: 100%;
                max-height: 100%;
                height: inherit;
                width: inherit;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
        }

        .overlay {
                z-index: 1;
                opacity: 0.5;
        }

        .text {
                position: absolute;
                bottom: 0;
                width: inherit;
                margin-bottom: 5%;
        }

        table {
                font-size: 70%;
        }

        #todayLine {
                text-transform: uppercase;
                color: #ffffff;
                font-weight: 300;
                font-size: 20px;
                margin-top: 30px;
        }

        #todayIndex {
                font-size: 30px;
                padding-left: 3px;
                padding-right: 3px;
        }
}
