// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #272b35;

$vlow-color:        #79BC6A;
$low-color:         #BBCF4C;
$medium-color:      #EEC20B;
$high-color:        #F29305;
$vhigh-color:       #960018;
$title-color:       rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-youtube styles
// ----------------------------------------------------------------------------
.widget-youtube {
    background-color: $background-color;

    .title {
        color: $title-color;
    }

    h1 {
        text-align: center;
    }

    title {
        font-size: small;
        font-weight: 400;
    }

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    li {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    img {
        width: 120px;
        height: 90px;
        margin-right: 10px;
    }
}
